
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    margin: 2rem;
  }

  .hero {
    background-color: #ff6600;
    background-image: url('hero-background.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .hero-content {
    max-width: 80%;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 2em;
    color: #fff;
  }
  
  .hero p {
    font-size: 1em;
    color: #fff;
  }
  
  /* Estilos de los productos */
  .products {
    text-align: center;
    padding: 30px 0;
  }
  
  .product {
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #e55e00, #ffc100);
    border-image-slice: 1;
  }
  
  .product img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .product h3 {
    margin-top: 10px;
  }
  
  .product p {
    font-size: 0.9em;
  }
  
  /* Estilos del botón */
  .btn {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .btn:hover {
    background-color: #e55e00;
  }
  
  @media (max-width: 767px) {
    /* Alinea la imagen al centro en dispositivos móviles */
    .hero-content img {
      display: block;
      margin: 0 auto;
    }
  }
  .mobile-img {
    display: block;
    margin: 0 auto; 
    max-width: 100%;
    height: auto; 
  }
  
  @media (max-width: 767px) {
    /* Alinea la imagen al centro en dispositivos móviles */
    .mobile-img {
      display: block;
      margin: 0 auto;
    }
  }